.container{
	width: 100%;
	margin: 0 auto;
}
body {
    background-color: #17131C;
    font-family: 'Fira Code', sans-serif;
    font-size: 24px;
}
h1{
    margin: 30px 0 80px;
    text-align: center;
    font-size: 32px;
    color: #FFE9D7;
    margin: 0 auto;
}
ul{
	display: flex;
	flex-direction: column;


  margin: 0 auto;
  width: 1350px;
  height: 860px;
  background-color: #1B1621;
  gap: 15px;
  border-radius: 10px;

  margin-top: 40px;
  margin-bottom: 40px;
}
.title-lesson{
    margin: 0 auto;
	/* color: #FFE9D7; */
    color: #ff305d;
		font-weight: 700;
}
li{
	color: #17131C;
	font-size: 14px;
	font-weight: 500;
	list-style-type: disc;
	margin-left: 10px;
}
.card-list{
	background-color: #FFE9D7;
	border-radius: 10px;
	width: 600px;
	height: 450px;
	padding: 10px;
	margin-top: 50px;
	margin-left: 50px;
	overflow-y: auto;
}
.card-container{
	display: flex;
}
button{
	width: 400px;
	height: 78px;
	color: #FFE9D7;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	background-color: #261F2F;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 20px;
}
.j{ 
    color: #FFCF4B;
}
.s{
    color: #FF8000;
}
.js{
	font-size: 40px;
}
.home-link{
	margin: 0 auto;
	margin-top: 26px;
}
.card-code {
	max-width: 600px;
	max-height: 450px;
	margin-top: 50px;
	margin-left: 50px;
  overflow-y: auto;
  background-color: #2d2d2d;
	border-radius: 10px;
}
@media screen and (min-width:480){
	.container{
			width: 480px;
	}
}