.container{
    width: 100%;
    margin: 0 auto;
}
body {
    /* background-color: #17131C; */
    background-color: #FFE9D7;
    font-family: 'Fira Code', sans-serif;
    font-size: 24px;
}
h1{
    width: 550px;
    height: 80px;
    background-color: #FFE9D7;
    border-radius:10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.title-lesson{
display: flex;


margin: 0 auto;
margin-top: 30px;
margin-bottom: 45px;
}
.title-main {
    text-align: center;
    font-size: 32px;
    /* color: #FFE9D7; */
    color:#96785F;
    margin: 0 auto;
    
}
.blok-js{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC300;
    height: 80px;
    width: 80px;
    border-radius: 0 10px 10px 0;
}
.j{ 
    color: #AA8200;
    font-weight: 700;
    font-size: 32px;
}
.s{
    color: #212121;
    font-weight: 700;
    font-size: 32px;
}
ul{
    
    margin: 0 auto;
    width: 1350px;
    height: auto;
    /* background-color: #1B1621; */
    background-color: #F4D3B8;
    display: flex;
    flex-direction: column;

    align-items: start;
    gap: 15px;
    border-radius: 10px;

    padding-bottom: 40px;

    margin-top: 40px;
    margin-bottom: 40px;
}

a{
    /* color: #FFE9D7; */
    color: #96785F;
    width: 260px;
    height: 110px;
    transition: color 0.5s ease-in-out;
    font-weight: 700;
}
li{
    margin-left: 60px;
}
a:hover{
    /* color: #F82D59; */
    color: #654c39;
    transition: color 0.5s ease-in-out;
}
p{
    font-size: 64px;
    font-weight: 700;
    position: relative;
    z-index: 1; 
}
@media screen and (min-width: 320px) and (max-width: 1350px) {
    .container {
        width: 100%;
        padding: 0 15px; 
        margin: 0 auto;
    }

    body {
        font-size: 18px; 
    }

    .title-main {
        font-size: 24px; 
        margin-top: 20px;
        margin-bottom: 30px;
    }

    ul {
        width: 100%; 
        height: auto; 
        gap: 10px; 
        padding: 10px; 
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column; 

    }

    li {
        margin-left: 20px; 
        list-style-position: inside;
    }

    a {
        width: 100%;
        height: auto; 
        font-size: 16px; 
        text-align: center; 
        font-weight: 600; 
    }

    a:hover {
        color: #F82D59;
    }

    p {
        font-size: 28px;
    }
}
